@charset "UTF-8";

/* =====================================
SAKURA SMORE
===================================== */
.sakura_smore .pdt-mv {
  background: url(../img/sakura_smore/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.sakura_smore .pdt-mv-box {
  background: url(../img/sakura_smore/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.sakura_smore .pdt-mv-box::after {
  background: #f9d8cf;
}

.sakura_smore .pdt-mv-product {
  width: 60%;
}

.sakura_smore .image {
  background: url(../img/sakura_smore/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* pc */
@media (min-width: 769px) {
  .sakura_smore .pdt-mv-box {
    /* background: url(../img/sakura_smore/pc/mv_bg@2x.jpg) no-repeat; */
    background-size: cover;
    background-position: center top;
  }

  .sakura_smore .pdt-mv-textblock {
    /* top: 30.7%; */
    bottom: 36px;
  }

  .sakura_smore .pdt-mv-new {
    top: -5px;
    left: auto;
    right: -186px;
    width: 80px;
  }

  .sakura_smore .pdt-mv-product {
    /* position: absolute; */
    /* top: 25px; */
    /* left: 225px; */
    /* width: 126px; */
  }

  .sakura_smore .image {
    background: url(../img/sakura_smore/pc/image_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .sakura_smore .pdt-mv-box {
    /* background-position: 40% 50%; */
  }

  .sakura_smore .pdt-mv-textblock {
    /* top: 22.5%; */
  }

  .sakura_smore .pdt-mv-new {
    /* top: -1px; */
    /* right: -148px; */
    /* width: 60px; */
  }

  .sakura_smore .pdt-mv-product {
    /* top: 25px; */
    /* left: 197px; */
    /* width: 105px; */
  }
}

@media (min-width: 1921px) {
  .sakura_smore .pdt-mv-box {
    /* background-position: center 15%; */
  }
}

/* =====================================
MELTY MIST
===================================== */
.melty_mist .pdt-mv {
  background: url(../img/melty_mist/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.melty_mist .pdt-mv-box {
  background: url(../img/melty_mist/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.melty_mist .pdt-mv-box::after {
  background: #e3d2e5;
}

.melty_mist .pdt-mv-product {
  width: 45%;
}

.melty_mist .image {
  background: url(../img/melty_mist/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* pc */
@media (min-width: 769px) {
  .melty_mist .pdt-mv-box {
    /* background: url(../img/melty_mist/pc/mv_bg@2x.jpg) no-repeat; */
    background-size: cover;
    background-position: center top;
  }

  .melty_mist .pdt-mv-textblock {
    /* bottom: 31.5%; */
    bottom: 36px;
  }

  .melty_mist .pdt-mv-new {
    top: -5px;
    left: auto;
    right: -182px;
    width: 80px;
  }

  .melty_mist .pdt-mv-product {
    /* position: absolute; */
    /* top: 27px; */
    /* left: 193px; */
    /* width: 126px; */
  }

  .melty_mist .image {
    background: url(../img/melty_mist/pc/image_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .melty_mist .pdt-mv-box {
    /* background-position: 30% 50%; */
  }

  .melty_mist .pdt-mv-textblock {
    /* bottom: 31.5%; */
  }

  .melty_mist .pdt-mv-new {
    /* top: -1px; */
    /* right: -145px; */
    /* width: 60px; */
  }

  .melty_mist .pdt-mv-product {
    /* top: 27px; */
    /* left: 169px; */
    /* width: 105px; */
  }
}

@media (min-width: 1921px) {
  .melty_mist .pdt-mv-box {
    /* background-position: center 20%; */
  }
}

/* =====================================
DARK PEONY
===================================== */
.dark_peony .pdt-mv {
  background: url(../img/dark_peony/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.dark_peony .pdt-mv-box {
  background: url(../img/dark_peony/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.dark_peony .pdt-mv-box::after {
  background: #eedecf;
}

.dark_peony .pdt-mv-product {
  width: 60%;
}

.dark_peony .image {
  background: url(../img/dark_peony/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* pc */
@media (min-width: 769px) {
  .dark_peony .pdt-mv-box {
    background: url(../img/dark_peony/pc/mv_bg@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .dark_peony .pdt-mv-textblock {
    /* top: 23.6%; */
    bottom: 36px;
  }

  .dark_peony .pdt-mv h1,
  .dark_peony .pdt-mv-text,
  .dark_peony .pdt-mv-month {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
  }

  .dark_peony .pdt-mv-new {
    top: -24px;
    left: -20px;
    /* right: -183px; */
    width: 53px;
  }

  .dark_peony .pdt-mv-product {
    /* position: absolute; */
    /* top: 15px; */
    /* left: 200px; */
    /* width: 126px; */
  }

  .dark_peony .image {
    background: url(../img/dark_peony/pc/image_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .dark_peony .pdt-mv-box {
    /* background-position: 70% 50%; */
  }

  .dark_peony .pdt-mv-textblock {
    /* top: 19%; */
  }

  .dark_peony .pdt-mv-new {
    /* top: -1px; */
    /* right: -147px; */
    /* width: 60px; */
  }

  .dark_peony .pdt-mv-product {
    /* top: 15px; */
    /* left: 173px; */
    /* width: 105px; */
  }
}

@media (min-width: 1921px) {
  .dark_peony .pdt-mv-box {
    /* background-position: 50% 55%; */
  }
}

/* =====================================
SAKURA PETAL
===================================== */
.sakura_petal .pdt-mv {
  background: url(../img/sakura_petal/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.sakura_petal .pdt-mv-box {
  background: url(../img/sakura_petal/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.sakura_petal .pdt-mv-box::after {
  background: #f8e1e7;
}

.sakura_petal .pdt-mv-product {
  width: 63%;
}

.sakura_petal .image {
  background: url(../img/sakura_petal/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* pc */
@media (min-width: 769px) {
  .sakura_petal .pdt-mv-box {
    background: url(../img/sakura_petal/pc/mv_bg@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .sakura_petal .pdt-mv-textblock {
    /* top: 27.2%; */
    bottom: 36px;
  }

  .sakura_petal .pdt-mv-product {
    /* position: absolute; */
    /* top: 28px; */
    /* left: 230px; */
    /* width: 125px; */
  }

  .sakura_petal .image {
    background: url(../img/sakura_petal/pc/image_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .sakura_petal .pdt-mv-box {
    /* background-position: 30% 50%; */
  }

  .sakura_petal .pdt-mv-textblock {
    /* top: 28.4%; */
  }

  .sakura_petal .pdt-mv-product {
    /* top: 23px; */
    /* left: 206px; */
    /* width: 105px; */
  }
}

@media (min-width: 1921px) {
  .sakura_petal .pdt-mv-box {
    /* background-position: center 25%; */
  }
}

/* =====================================
TINT BROWN
===================================== */
.tint_brown .pdt-mv {
  background: url(../img/tint_brown/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.tint_brown .pdt-mv-box {
  background: url(../img/tint_brown/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.tint_brown .pdt-mv-box::after {
  background: #f7e7ce;
}

.tint_brown .pdt-mv-product {
  width: 63%;
}

.tint_brown .pdt-mv h1,
.tint_brown .pdt-mv-pd,
.tint_brown .pdt-mv-day-month {
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4));
}

.tint_brown .image {
  background: url(../img/tint_brown/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* pc */
@media (min-width: 769px) {
  .tint_brown .pdt-mv-box {
    background: url(../img/tint_brown/pc/mv_bg@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .tint_brown .pdt-mv-textblock {
    /* top: 33.7%; */
    bottom: 36px;
  }

  .tint_brown .pdt-mv-product {
    /* position: absolute; */
    /* top: 28px; */
    /* left: 220px; */
    /* width: 125px; */
  }

  .tint_brown .pdt-mv h1,
  .tint_brown .pdt-mv-pd,
  .tint_brown .pdt-mv-text,
  .tint_brown .pdt-mv-day-month {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.2));
  }

  .tint_brown .image {
    background: url(../img/tint_brown/pc/image_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .tint_brown .pdt-mv-box {
    /* background-position: 30% 50%; */
  }

  .tint_brown .pdt-mv-textblock {
    /* top: 30.7%; */
  }

  .tint_brown .pdt-mv-product {
    /* top: 23px; */
    /* left: 195px; */
    /* width: 105px; */
  }
}

@media (min-width: 1921px) {
  .tint_brown .pdt-mv-box {
    /* background-position: center 30%; */
  }
}

/* =====================================
DAZZLE BEIGE
===================================== */
.dazzle_beige .pdt-mv {
  background: url(../img/dazzle_beige/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.dazzle_beige .pdt-mv-box {
  background: url(../img/dazzle_beige/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.dazzle_beige .pdt-mv-box::after {
  background: #f3e0cf;
}

.dazzle_beige .pdt-mv-product {
  width: 63%;
}

.dazzle_beige .image {
  background: url(../img/dazzle_beige/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* pc */
@media (min-width: 769px) {
  .dazzle_beige .pdt-mv-box {
    background: url(../img/dazzle_beige/pc/mv_bg@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .dazzle_beige .pdt-mv-textblock {
    /* top: 34%; */
    bottom: 36px;
  }

  .dazzle_beige .pdt-mv-product {
    /* position: absolute; */
    /* top: 13px; */
    /* left: 230px; */
    /* width: 125px; */
  }

  .dazzle_beige .image {
    background: url(../img/dazzle_beige/pc/image_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .dazzle_beige .pdt-mv-box {
    /* background-position: 30% 50%; */
  }

  .dazzle_beige .pdt-mv-textblock {
    /* top: 33.5%; */
  }

  .dazzle_beige .pdt-mv-product {
    /* top: 13px; */
    /* left: 196px; */
    /* width: 105px; */
  }
}

@media (min-width: 1921px) {
  .dazzle_beige .pdt-mv-box {
    /* background-position: center 30%; */
  }
}

/* =====================================
DAZZLE GRAY
===================================== */
.dazzle_gray .pdt-mv {
  background: url(../img/dazzle_gray/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.dazzle_gray .pdt-mv-box {
  background: url(../img/dazzle_gray/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.dazzle_gray .pdt-mv-box::after {
  background: #daedf1;
}

.dazzle_gray .pdt-mv-product {
  width: 63%;
}

.dazzle_gray .image {
  background: url(../img/dazzle_gray/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* pc */
@media (min-width: 769px) {
  .dazzle_gray .pdt-mv-box {
    background: url(../img/dazzle_gray/pc/mv_bg@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .dazzle_gray .pdt-mv-textblock {
    /* top: 34%; */
    bottom: 36px;
  }

  .dazzle_gray .pdt-mv-product {
    /* position: absolute; */
    /* top: 13px; */
    /* left: 228px; */
    /* width: 125px; */
  }

  .dazzle_gray .image {
    background: url(../img/dazzle_gray/pc/image_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .dazzle_gray .pdt-mv-box {
    /* background-position: 30% 50%; */
  }

  .dazzle_gray .pdt-mv-textblock {
    /* top: 33.5%; */
  }

  .dazzle_gray .pdt-mv-product {
    /* top: 13px; */
    /* left: 199px; */
    /* width: 105px; */
  }
}

@media (min-width: 1921px) {
  .dazzle_gray .pdt-mv-box {
    /* background-position: center 30%; */
  }
}

/* =====================================
CORAL BROWN
===================================== */
.coral_brown .pdt-mv {
  background: url(../img/coral_brown/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.coral_brown .pdt-mv-box {
  background: url(../img/coral_brown/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.coral_brown .pdt-mv-box::after {
  background: #f9e2d2;
}

.coral_brown .pdt-mv-product {
  width: 63%;
}

.coral_brown .image {
  background: url(../img/coral_brown/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* pc */
@media (min-width: 769px) {
  .coral_brown .pdt-mv-box {
    background: url(../img/coral_brown/pc/mv_bg@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .coral_brown .pdt-mv-textblock {
    /* top: 30.5%; */
    bottom: 36px;
  }

  .coral_brown .pdt-mv-product {
    /* position: absolute; */
    /* top: 13px; */
    /* left: 219px; */
    /* width: 125px; */
  }

  .coral_brown .image {
    background: url(../img/coral_brown/pc/image_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .coral_brown .pdt-mv-box {
    /* background-position: 50% 50%; */
  }

  .coral_brown .pdt-mv-textblock {
    /* top: 26.3%; */
  }

  .coral_brown .pdt-mv-product {
    /* top: 13px; */
    /* left: 194px; */
    /* width: 105px; */
  }
}

@media (min-width: 1921px) {
  .coral_brown .pdt-mv-box {
    /* background-position: center 37%; */
  }
}

/* =====================================
MIRROR GRAY
===================================== */
.mirror_gray .pdt-mv {
  background: url(../img/mirror_gray/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.mirror_gray .pdt-mv-box {
  background: url(../img/mirror_gray/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.mirror_gray .pdt-mv-box::after {
  background: #daefea;
}

.mirror_gray .pdt-mv-product {
  width: 63%;
}

.mirror_gray .image {
  background: url(../img/mirror_gray/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* pc */
@media (min-width: 769px) {
  .mirror_gray .pdt-mv-box {
    background: url(../img/mirror_gray/pc/mv_bg@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .mirror_gray .pdt-mv-textblock {
    /* top: 40%; */
    bottom: 36px;
  }

  .mirror_gray .pdt-mv-product {
    /* position: absolute; */
    /* top: 17px; */
    /* left: 236px; */
    /* width: 125px; */
  }

  .mirror_gray .image {
    background: url(../img/mirror_gray/pc/image_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .mirror_gray .pdt-mv-box {
    /* background-position: 30% 50%; */
  }

  .mirror_gray .pdt-mv-textblock {
    /* top: auto; */
    /* bottom: 31%; */
  }

  .mirror_gray .pdt-mv-product {
    /* top: 13px; */
    /* left: 207px; */
    /* width: 105px; */
  }
}

@media (min-width: 1921px) {
  .mirror_gray .pdt-mv-box {
    /* background-position: center 30%; */
  }
}

/* =====================================
PEACH CRUSH
===================================== */
.peach_crush .pdt-mv {
  background: url(../img/peach_crush/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.peach_crush .pdt-mv-box {
  background: url(../img/peach_crush/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.peach_crush .pdt-mv-box::after {
  background: #edd2db;
}

.peach_crush .pdt-mv-product {
  width: 49%;
}

.peach_crush .image {
  background: url(../img/peach_crush/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* pc */
@media (min-width: 769px) {
  .peach_crush .pdt-mv-box {
    background: url(../img/peach_crush/pc/mv_bg@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .peach_crush .pdt-mv-textblock {
    /* top: 25.3%; */
    bottom: 36px;
  }

  .peach_crush .pdt-mv-product {
    /* position: absolute; */
    /* top: 12px; */
    /* left: 198px; */
    /* width: 125px; */
  }

  .peach_crush .image {
    background: url(../img/peach_crush/pc/image_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .peach_crush .pdt-mv-box {
    /* background-position: 60% 50%; */
  }

  .peach_crush .pdt-mv-textblock {
    /* top: 26.3%; */
  }

  .peach_crush .pdt-mv-product {
    /* top: 11px; */
    /* left: 173px; */
    /* width: 105px; */
  }
}

@media (min-width: 1921px) {
  .peach_crush .pdt-mv-box {
    /* background-position: center 40%; */
  }
}

/* =====================================
TANGERINE TEA
===================================== */
.tangerine_tea .pdt-mv {
  background: url(../img/tangerine_tea/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.tangerine_tea .pdt-mv-box {
  background: url(../img/tangerine_tea/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.tangerine_tea .pdt-mv-box::after {
  background: #eedcd2;
}

.tangerine_tea .pdt-mv-product {
  width: 49%;
}

.tangerine_tea .image {
  background: url(../img/tangerine_tea/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* pc */
@media (min-width: 769px) {
  .tangerine_tea .pdt-mv-box {
    background: url(../img/tangerine_tea/pc/mv_bg@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
  }

  .tangerine_tea .pdt-mv-textblock {
    /* top: 33.5%; */
    bottom: 36px;
  }

  .tangerine_tea .pdt-mv-product {
    /* position: absolute; */
    /* top: 12px; */
    /* left: 319px; */
    /* width: 125px; */
  }

  .tangerine_tea .pdt-mv h1 {
    /* letter-spacing: .2em; */
  }

  .tangerine_tea .image {
    background: url(../img/tangerine_tea/pc/image_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .tangerine_tea .pdt-mv-box {
    /* background-position: 33% 50%; */
  }

  .tangerine_tea .pdt-mv-textblock {
    /* top: 34.6%; */
  }

  .tangerine_tea .pdt-mv-product {
    /* top: 12px; */
    /* left: 276px; */
    /* width: 105px; */
  }
}

@media (min-width: 1921px) {
  .tangerine_tea .pdt-mv-box {
    /* background-position: center 30%; */
  }
}

/* =====================================
DOLLISH BROWN
===================================== */
.dollish_brown .pdt-mv {
  background: url(../img/dollish_brown/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.dollish_brown .pdt-mv-box {
  background: url(../img/dollish_brown/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.dollish_brown .pdt-mv-box::after {
  background: #eedcd2;
}

.dollish_brown .pdt-mv-product {
  width: 49%;
}

.dollish_brown .image {
  background: url(../img/dollish_brown/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* =====================================
DOLLISH GRAY
===================================== */
.dollish_gray .pdt-mv {
  background: url(../img/dollish_gray/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.dollish_gray .pdt-mv-box {
  background: url(../img/dollish_gray/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.dollish_gray .pdt-mv-box::after {
  background: #eedcd2;
}

.dollish_gray .pdt-mv-product {
  width: 49%;
}

.dollish_gray .image {
  background: url(../img/dollish_gray/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* =====================================
BUBBLE BLUE
===================================== */

.bubble_blue .pdt-mv {
  background: url(../img/bubble_blue/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.bubble_blue .pdt-mv-box {
  background: url(../img/bubble_blue/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.bubble_blue .pdt-mv-box::after {
  background: #eedcd2;
}

.bubble_blue .pdt-mv-product {
  width: 49%;
}

.bubble_blue .image {
  background: url(../img/bubble_blue/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* =====================================
BROWN BUNNY
===================================== */

.brown_bunny .pdt-mv-box {
  background: url(../img/brown_bunny/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.brown_bunny .pdt-mv-product {
  width: 49%;
}

.brown_bunny .pdt-mv {
  background: url(../img/brown_bunny/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.brown_bunny .image {
  background: url(../img/brown_bunny/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}

/* =====================================
DREAM GRAY
===================================== */

.dream_gray .pdt-mv-box {
  background: url(../img/dream_gray/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.dream_gray .pdt-mv-product {
  width: 49%;
}

.dream_gray .pdt-mv {
  background: url(../img/dream_gray/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.dream_gray .image {
  background: url(../img/dream_gray/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}


/* =====================================
UNIFORM BLACK
===================================== */

.uniform_black .pdt-mv-box {
  background: url(../img/uniform_black/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}

.uniform_black .pdt-mv-product {
  width: 49%;
}

.uniform_black .pdt-mv {
  background: url(../img/uniform_black/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}

.uniform_black .image {
  background: url(../img/uniform_black/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}
/* =====================================
TWINKLE BROWN
===================================== */
.twinkle_brown .pdt-mv-box {
  background: url(../img/twinkle_brown/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}
/*1Month追加時調整が必要かも*/
.twinkle_brown .pdt-mv-product {
  width: 49%;
}
.twinkle_brown .product-design-single_package{
  width: 46%
}
.twinkle_brown .product-design-left{
  margin-bottom: 23px;
}
/*1Month追加時調整が必要かも*/
.twinkle_brown .pdt-mv {
  background: url(../img/twinkle_brown/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}
.twinkle_brown .image {
  background: url(../img/twinkle_brown/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}
/* =====================================
PINK BOMB
===================================== */
.pink_bomb .pdt-mv-box {
  background: url(../img/pink_bomb/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}
/*1Month追加時調整が必要かも*/
.pink_bomb .pdt-mv-product {
  width: 49%;
}
.pink_bomb .product-design-single_package{
  width: 46%
}
.pink_bomb .product-design-left{
  margin-bottom: 23px;
}
/*1Month追加時調整が必要かも*/
.pink_bomb .pdt-mv {
  background: url(../img/pink_bomb/sp/mv_bg.jpg) no-repeat;
  background-size: cover;
}
.pink_bomb .image {
  background: url(../img/pink_bomb/sp/image_bg.jpg) no-repeat;
  background-size: cover;
}
/* =====================================
TORIC
===================================== */
.toric .pdt-mv h1 {
  width: fit-content;
  font-size: 7vw;
  line-height: 1em;
}
.toric .pdt-mv h1 span {
  margin-top: -2.6vw;
}

.toric .product-design h3{
  font-size: 20px;
}
/* pc */
@media (min-width: 769px) {
  .toric .pdt-mv h1 span {
    margin-top: -16px;
  }
  .toric .pdt-mv h1 {
    font-size: 42px;
    line-height: 1em;
  }
  .toric .product-design h3{
    font-size: 25px;
  }
  .toric .review-link-btn a{
    font-size: 20px;
    line-height: 1em;
  }
}
.product-design-single_package{
  max-width: 200px;
  margin: 0 auto;
}
.product-design-single_package{
  max-width: 200px;
  margin: 0 auto;
}
.product-design-single_package img{
  width: 100%;
}
.toric .product-design-single_package{
  width: 46%
}
.toric .product-spec-list{
  width: 100%;
}
.toric .dayMonth-link-btn{
  width: 100%;
}