@charset "UTF-8";

.alwaysFooterOnlineShop .online-shop-list {
  position: relative;
  margin: 0 auto;
  width: 77%;
  height: 45px;
  border-top: none;
  border-radius: 30px;
  overflow: hidden;
  transition: 400ms;
  background: #FF95B4;
}
/* open */
.alwaysFooterOnlineShop .online-shop-list.open {
  height: 315px;
}

.alwaysFooterOnlineShop .online-shop-list > *:nth-child(3):before{
  content: "";
  display: block;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #c87290;
  position: absolute;
  top: 5px;
  background: url(../img/fixed_cart_coming_soon_txt.png) center center no-repeat;
  background-size: contain;
}
.alwaysFooterOnlineShop .online-shop-list dd {
  height: 45px;
  background: #fff;
  border-top: 1px solid #c87290;
  border-left: 1px solid #c87290;
  border-right: 1px solid #c87290;
  overflow: hidden;
}
.alwaysFooterOnlineShop .online-shop-list > *:nth-child(2){
  border: none
}
.alwaysFooterOnlineShop .online-shop-list > *:nth-child(3){
  display: block;
  height: 90px;
  padding-top: 50px; /*消す*/
  border-bottom: none;
/*戻す  border-bottom: 1px solid #c87290;*/
  position: relative;
}
.alwaysFooterOnlineShop .online-shop-list > *:nth-child(2){
  height: 45px;
  background: #FF95B4;
  overflow: hidden;
}
@media (max-width: 768px) {

  .alwaysFooterOnlineShop .online-shop-list {
    position: relative;
    margin: 0 auto;
    width: 77%;
    height: 40px;
    border-top: none;
    border-radius: 30px !important;
    overflow: hidden;
    transition: 400ms;
    background: #FF95B4;
  }
  /* open */
  .alwaysFooterOnlineShop .online-shop-list.open {
    height: 280px;
    border-radius: 30px !important;
  }
  
  .alwaysFooterOnlineShop .online-shop-list > *:nth-child(3):before{
    content: "";
    display: block;
    height: 40px;
    border-bottom: 1px solid #c87290;
    position: absolute;
    background: url(../img/fixed_cart_coming_soon_txt.png) center center no-repeat;
    background-size: contain;
  }
  .alwaysFooterOnlineShop .online-shop-list dd {
    height: 40px;
    background: #fff;
    border-top: 1px solid #c87290;
    border-left: 1px solid #c87290;
    border-right: 1px solid #c87290;
    overflow: hidden;
  }
  .alwaysFooterOnlineShop .online-shop-list > *:nth-child(2){
    border: none
  }
   /*消す*/
  .alwaysFooterOnlineShop .online-shop-list > *:nth-child(3):before{
    display: block;
    height: 40px;
    border-bottom: 1px solid #c87290;
    position: absolute;
    top: 4px;
    width: 100%;
  } 
  /*消す*/
  .alwaysFooterOnlineShop .online-shop-list > *:nth-child(3){
    display: block;
    height: 80px;
    padding-top: 40px; /*消す*/
    border-bottom: none;
  /*戻す  border-bottom: 1px solid #c87290;*/
    position: relative;
  }
  .alwaysFooterOnlineShop .online-shop-list > *:nth-child(2){
    height: 40px;
    background: #FF95B4;
    overflow: hidden;
  }
  .online-shop-list dd:last-of-type {
    border-radius: 0 0 29px 29px;
  }
}


.c-modal_wrap .menu-list{
  position: relative;
}
.c-modal_wrap .menu-list:after{
    content: "";
    display: block;
    width: 286px;
    height: 105px;
    /*
    width: 286px;
    height: 105px;
    */
    background: url(../img/multi_coming_soon_txt.png) center center;
    background-size: cover;
    position: absolute;
    bottom: -115px;
    left: calc( 50% - 143px );
    z-index: 1;
}

.c-modal_wrap .menu-list:after{
    content: "";
    display: block;
    width: 286px;
    height: 105px;
    background: url(../img/multi_coming_soon_txt.png) center center;
    background-size: cover;
    position: absolute;
    bottom: -115px;
    left: calc( 50% - 143px );
    z-index: 1;
}
.header-menu > ul{
  position: relative;
}
.header-menu > ul:after{
  content: "";
  display: block;
  width: 286px;
  height: 105px;
  background: url(../img/multi_coming_soon_txt.png) center center;
  background-size: cover;
  position: absolute;
  bottom: -115px;
  left: calc( 50% - 143px );
  z-index: 1;
}
@media only screen and (max-width: 370px){
  .c-modal_wrap .menu-list:after{
    width: 300px;
    height: 124px;
    bottom: -150px;
    left: calc( 50% - 167px );
  }
}