@charset "UTF-8";

/* =====================================
COMMON
===================================== */
.bold {
  font-weight: bold;
}

/* pc */
@media (min-width: 769px) {
  body {
    font-size: 16px;
  }

  /* body {
		background: #ededed;
		background: url(../img/pc/newcolors_bg.jpg) no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	.pc-inner {
		margin: 0 auto;
		width: 100%;
		max-width: 600px;
		background: #FFF;
	} */
}

/* =====================================
ABOUT
===================================== */
.about-main {
  padding-bottom: 8vw;
  background: #ecdee5;
}

.about-mv {
  margin-bottom: 15vw;
  border-bottom-left-radius: 12vw;
  border-bottom-right-radius: 12vw;
}

.about-main .h2-title {
  letter-spacing: 0.05em;
}

.about-main-text {
  margin-top: 5vw;
  font-size: 3.5vw;
  text-align: center;
  line-height: 2.2;
  color: #c87290;
}

.about-main-text p {
  margin-bottom: 7vw;
}

.about-main-text p:last-of-type {
  margin-bottom: 0;
}

.about-bottom {
  position: relative;
  margin-top: 15vw;
}

.about-bottom-text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: 'Gilda Display', serif;
  font-size: 5.2vw;
  text-align: center;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-indent: -5.5em;
  word-spacing: 0.5em;
  color: #fff;
  transform: translateY(-47%);
}

.about-bottom-text span {
  padding-left: 5.5em;
}

.about-bottom-image {
  display: block;
  margin: 0 auto;
  width: 98%;
}

/* pc */
@media (min-width: 769px) {
  .about-main {
    padding: 0 0 100px;
    /* background: url(../img/about/pc/about_bg.jpg) no-repeat;
		background-size: cover; */
  }

  .about-mv {
    display: block;
    margin: 0 auto 100px;
    width: 100%;
    max-width: 1002px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  .about-main .h2-title {
    letter-spacing: 0;
  }

  .about-main-text {
    margin-top: 40px;
    padding: 0 1em;
    font-size: 19px;
    line-height: 2.8;
  }

  .about-main-text p {
    margin-bottom: 50px;
  }

  .about-bottom {
    margin-top: 90px;
  }

  .about-bottom-text {
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    /* text-indent: 0; */
    word-spacing: 0.25em;
  }

  /* .about-bottom-text span {
		padding-left: 0;
	} */
  .about-bottom-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1002px;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .about-mv {
    margin: 0 auto 10vw;
  }

  .about-main-text {
    font-size: 2vw;
  }

  .about-bottom {
    margin-top: 10vw;
  }

  .about-bottom-text {
    font-size: 4vw;
  }
}

/* =====================================
COMPANY
===================================== */
.company {
  padding: 16vw 0 8vw;
  background: #ecdee5;
}

.company-table {
  margin: 2vw auto 0;
  width: 90%;
  color: #504f4f;
}

.company-table tr {
  display: flex;
  margin-bottom: 1vw;
}

.company-table th,
.company-table td {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  height: 4.4em;
  background: #ffffff80;
  text-align: center;
  line-height: 1.2;
}

.company-table th {
  margin-right: 1vw;
  width: 35%;
  font-weight: normal;
}

.company-table td {
  width: 65%;
}

/* PC
---------------------------------*/
@media (min-width: 769px) {
  .company {
    margin: 0 auto;
    padding: 100px 0 100px;
    width: 100%;
  }

  .company-table {
    margin: 20px auto 0;
    width: 90%;
    max-width: 1000px;
  }

  .company-table tr {
    margin-bottom: 10px;
  }

  .company-table th,
  .company-table td {
    height: 3.7em;
  }

  .company-table th {
    margin-right: 10px;
    width: 35%;
  }

  .company-table td {
    width: 65%;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .company {
    padding: 15vw 0 0;
  }
}

/* =====================================
PRIVACY POLICY
===================================== */
.privacy {
  padding: 16vw 0 8vw;
  background: #ecdee5;
}

.privacy-main {
  margin: 2vw auto 0;
  width: 90%;
  word-break: break-all;
  color: #bd8064;
}

.privacy-main h3,
.privacy-main p,
.privacy-main li {
  line-height: 1.4;
}

.privacy-main a {
  text-decoration: underline;
}

.pryvacy-main-h2 {
  margin-bottom: 0.6em;
  padding: 0.6em 1.2em 0.5em 1.2em;
  background: #ffffff80;
  color: #c87290;
}

.pryvacy-main-h2:nth-of-type(n + 2) {
  margin-top: 2em;
}

.privacy-main h3 {
  margin-top: 1.3em;
}

.pryvacy-main-inner {
  padding: 0 1em;
  color: #504f4f;
}

.pryvacy-main-margin-btm {
  margin-bottom: 1.3em;
}

.pryvacy-main-index::before {
  content: '■';
  margin-right: 0.2em;
}

.privacy-text-margin {
  margin-top: 1em;
}

.pryvacy-text-right {
  text-align: right;
}

.pryvacy-main-list li {
  padding-left: 1em;
  text-indent: -1em;
}

.text-indent {
  padding-left: 1.4em;
  text-indent: -1.4em;
}

/* PC
---------------------------------*/
@media (min-width: 769px) {
  .privacy {
    padding: 100px 0 100px;
  }

  .privacy-title {
    margin: 100px auto 0;
    width: 447px;
  }

  .privacy-main {
    margin: 20px auto 0;
    width: 90%;
    max-width: 1000px;
    border-collapse: separate;
    border-spacing: 0 3vw;
    word-break: break-all;
  }

  .privacy-main h3,
  .privacy-main p,
  .privacy-main li {
    line-height: 1.6;
  }

  .privacy-main a {
    text-decoration: none;
  }

  .privacy-main a:hover {
    text-decoration: underline;
  }

  .pryvacy-main-h2 {
    margin-bottom: 1.6em;
    padding: 1.1em 1.8em 1.2em 1.8em;
  }

  .pryvacy-main-h2:nth-of-type(n + 2) {
    margin-top: 3.2em;
  }

  .privacy-main h3 {
    margin-top: 1.6em;
  }

  .pryvacy-main-inner {
    padding: 0 1.8em;
  }

  .pryvacy-main-margin-btm {
    margin-bottom: 1.6em;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .privacy {
    padding: 15vw 0 0;
  }
}

/* =====================================
CONTACT
===================================== */
.contact {
  padding: 16vw 0 8vw;
  background: #ecdee5;
  word-break: break-all;
}

.contact-index {
  margin: 2vw auto 1em;
  font-size: 3.4vw;
  text-align: center;
  color: #c87290;
}

.contact-table {
  margin: 5vw auto 0;
  width: 90%;
  color: #c87290;
}

.contact-table tr th,
.contact-table tr td {
  display: block;
}

.contact-table tr th {
  display: flex;
  align-items: center;
  padding: 0.6em 1.2em 0.5em 1.1em;
  background: #ffffff80;
  font-weight: normal;
}

.contact-table tr td {
  padding: 4% 3.5% 8%;
}

.contact-table tr:first-of-type td {
  padding: 2% 5% 7%;
}

.contact-radio {
  font-size: 3.8vw;
}

.contact-radio li {
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
}

.contact-radio li:last-of-type {
  margin-bottom: 0;
}

.contact-radio li input {
  margin-right: 0.3em;
}

.contact-textbox,
.contact-textarea {
  padding: 0.3em 0.5em;
  width: 100%;
  background: #fff;
  border: 1px solid #bd8064;
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 16px;
  color: #504f4f;
}

.contact-textarea {
  height: 5.5em;
}

.contact-req::before {
  content: '必須';
  margin-right: 0.6em;
  padding: 0.2em 0.5em 0.1em;
  background: #c87290;
  border-radius: 6px;
  font-size: 2.5vw;
  color: #fff;
}

.contact-privacy {
  text-align: center;
  letter-spacing: -0.03em;
  color: #c87290;
}

.contact-privacy a {
  text-decoration: underline;
}

.contact-privacy-check-block {
  margin: 0 auto 7%;
  width: 90%;
}

.contact-privacy-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto 0;
  font-size: 4vw;
  text-align: center;
  color: #c87290;
}

.contact-privacy-check input {
  margin-right: 1%;
  width: 1em;
  height: 1em;
}

.contact-submit-btn {
  display: block;
  margin: 0 auto;
  padding-bottom: 0.2em;
  width: 60%;
  background: #c87290;
  border-radius: 50px;
  font-size: 4vw;
  text-align: center;
  line-height: 2.5;
  color: #fff;
}

/* PC
---------------------------------*/
@media (min-width: 769px) {
  .contact {
    padding: 100px 0 100px;
  }

  .contact-title {
    margin: 100px auto 0;
    width: 272px;
  }

  .contact-index {
    margin: 15px auto 1em;
    font-size: 16px;
  }

  .contact-table {
    margin: 50px auto 0;
    /* width: 90%; */
    /* max-width: 1000px; */
  }

  .contact-table tr {
    /* display: flex; */
    /* margin-bottom: 10px; */
  }

  .contact-table tr th {
    /* margin-right: 10px; */
    /* padding: 0 0 0 90px; */
    /* width: 35%; */
  }

  .contact-table tr td {
    /* padding: 25px 33px; */
    /* width: calc(65% - 10px); */
    /* background: #fff3ed; */
  }

  .contact-table tr:first-of-type td {
    /* padding: 10px 33px; */
  }

  .contact-radio {
    font-size: 16px;
  }

  .contact-table tr td ul {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
  }

  .contact-radio li {
    align-items: center;
    margin-right: 70px;
    margin-bottom: 0;
    line-height: 2.2;
  }

  .contact-table tr td ul li input {
    margin-right: 5px;
  }

  .contact-textbox,
  .contact-textarea {
    padding: 0.8em 0.8em;
    border-radius: 6px;
  }

  .contact-textarea {
    height: 9em;
  }

  .contact-req {
    display: flex;
    align-items: center;
    position: relative;
  }

  .contact-req::before {
    /* margin-left: -50px; */
    padding: 0.1em 0.7em 0.2em;
    background: #bd8064;
    border-radius: 11px;
    font-size: 13px;
    color: #fff;
  }

  .contact-table tr.contact-contents th {
    /* align-items: flex-start; */
    /* padding-top: 40px; */
  }

  .contact-privacy {
    margin: 50px auto 0;
    letter-spacing: 0;
  }

  .contact-privacy a {
    text-decoration: none;
  }

  .contact-privacy a:hover {
    text-decoration: underline;
  }

  .contact-privacy-check-block {
    margin-bottom: 35px;
    max-width: 1000px;
  }

  .contact-privacy-check {
    margin: 30px auto 0;
    font-size: 20px;
  }

  .contact-privacy-check input {
    margin: 4px 8px 0 0;
    width: 25px;
    height: 25px;
  }

  .contact-submit-btn {
    width: 400px;
    border-radius: 21px;
    font-size: 16px;
    line-height: 3;
    transition: 200ms;
  }

  .contact-submit-btn:hover {
    opacity: 0.8;
  }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .contact {
    padding: 15vw 0 0;
  }
}

/* ERROR */
.p-inquiry__error {
  position: relative;
  margin-top: 1vw;
  padding: 0.5em;
  background: #bd6d6d;
  border-radius: 4px;
  font-size: 3.2vw;
  color: white;
  clear: both;
}

.p-inquiry__error::before {
  display: block;
  position: absolute;
  content: '';
  top: -10px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-color: transparent transparent #bd6d6d transparent;
  border-style: solid;
  border-width: 5px 5px;
}

/* SUCCESS */
.p-inquiry__completed {
  margin: 10vw auto 15vw;
  width: 90%;
  text-align: center;
  color: #c87290;
}

.p-inquiry__completed p {
  margin-bottom: 8vw;
  line-height: 2em;
}

.p-inquiry__completed .p-inquiry__completed-box {
  margin-bottom: 12vw;
  padding: 1em;
  border: 1px solid #bd8064;
}

.p-inquiry__completed p a {
  text-decoration: underline;
}

.p-inquiry__completed .c-title__l {
  display: block;
  margin: 5vw auto 0;
  width: 45vw;
}

/* CONFIRM */
.p-inquiry__result {
  margin: 7vw 0 0;
  text-align: center;
  color: #c87290;
}

.p-inquiry__table-wrap {
  margin: 5vw auto 0;
}

.p-inquiry__table-wrap .contact-table tr td {
  color: #504f4f;
}

.c-form__button-wrap {
  margin: 0 auto;
  width: 90%;
}

.c-form__button-item {
  text-align: center;
}

.c-form__button,
.c-form__button-reset {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  padding: 0 0 0.2em;
  width: 60%;
  background: #c87290;
  border: 0;
  border-radius: 50px;
  font-size: 4vw;
  text-align: center;
  line-height: 2.5;
  color: #fff;
  cursor: pointer;
}

.c-form__button-item:not(:first-of-type) {
  margin-top: 2.5vw;
}

.c-form__button-reset {
  background: #d3d3d3;
  color: #242424;
}

@media (min-width: 769px) {
  /* ERROR */
  .p-inquiry__error {
    margin-top: 5px;
    padding: 0.5em;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
  }

  /* SUCCESS */
  .p-inquiry__completed {
    margin: 100px auto 0;
    padding-bottom: 50px;
    width: 90%;
    max-width: 1000px;
  }

  .p-inquiry__completed p {
    margin-bottom: 40px;
  }

  .p-inquiry__completed .p-inquiry__completed-box {
    margin: 0 auto 60px;
    padding: 1.2em;
    width: 100%;
    max-width: 700px;
  }

  .p-inquiry__completed p a {
    text-decoration: none;
  }

  .p-inquiry__completed p a:hover {
    text-decoration: underline;
  }

  .p-inquiry__completed .c-title__l {
    margin: 50px auto 0;
    width: 260px;
  }

  /* CONFIRM */
  .p-inquiry__result {
    margin: 40px 0 0;
  }

  .p-inquiry__table-wrap {
    margin: 50px auto 0;
  }

  .p-inquiry__table-wrap .contact-table tr th {
    padding: 0 0 0 50px;
  }

  .p-inquiry__table-wrap .contact-table tr:first-of-type td {
    padding: 25px 33px;
  }

  .c-form__button-wrap {
    /* display: flex; */
    /* justify-content: center; */
    /* margin-top: 40px; */
  }

  .c-form__button,
  .c-form__button-reset {
    width: 300px;
    border-radius: 21px;
    font-size: 16px;
    line-height: 3;
    transition: 200ms;
  }

  .c-form__button-item:not(:first-of-type) {
    margin-top: 10px;
    /* margin-left: 40px; */
  }

  .c-form__button:hover,
  .c-form__button-reset:hover {
    opacity: 0.8;
  }
}

/* =====================================
BOTTOM SECTION
===================================== */
.bottom-section {
  padding: 8vw 6% 8vw;
}

.footer {
  margin-top: 0vw;
}

/* PC
---------------------------------*/
@media (min-width: 769px) {
  .bottom-section {
    padding: 140px 0 50px;
  }

  /* .footer.bg-white {
		padding-top: 50px;
		background: #FFF;
	} */
}

@media (min-width: 769px) and (max-width: 1500px) {
  .bottom-section {
    padding: 8vw 0 3.5vw;
  }
}
