@charset "UTF-8";
/*COLOR THEMA*/
/*
.review-banner {
  background: #9a9285;
}
.toric .h2-title {
  color: #9a9285;
}
.toric .product-spec-list dt {
  background: #9a9285;
}
.toric .product-spec-list dd:first-of-type {
  border-top: 1px solid #9a9285;
}
.toric .product-spec-list dd {
  border-right: 1px solid #9a9285;
  border-bottom: 1px solid #9a9285;
}
.toric .collection-banner a {
  color: #9a9285;
}
.toric .day-month-spec{
  background: #f7f6f2;
}
.toric .bottom-section{
  background: #f7f6f2;
}
*/
/*COLOR THEMA*/

.toric .oneday-mv-block .pdt-mv-box {
  background: url(../toric/img/sp/mv.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
}
/* =====================================
TORIC
===================================== */
.oneday.toric .collection {
  padding: 13.2vw 0 13vw;
  background: url(../toric/img/sp/collection_bg.jpg) no-repeat;
  background-size: cover;
}
/* pc */
@media (min-width: 769px) {
  .oneday.month.toric .collection {
    padding: 100px 0 150px;
    background: url(../toric/img/pc/collection_bg.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 769px) and (max-width: 1500px) {
  .oneday.month.toric .collection {
    padding: 6.5vw 0 10vw;
  }
}
