@use '../global' as *;

@if $startFrom ==sp {
  //スマホファースト
  html {
    //~375px
    @media (max-width: 375px) {
      font-size: vw(16, 375);
    }

    //375px~767px
    font-size: 16px;

    @include mq('md') {
      font-size: vw(16, strip-unit($inner));
    }

    //inner~max-screen
    @media (min-width: $inner) {
      font-size: 16px;
    }
  }
} @else {
  //PCファースト
  html {
    font-size: 16px;

    @media (max-width: $inner) {
      font-size: vw(16, strip-unit($inner));
    }

    @include mq('md') {
      font-size: 16px;
    }

    //~375px
    @media (max-width: 375px) {
      font-size: vw(16, 375);
    }
  }
}
