@use 'sass:math';

// * 数値のみを取り出す
// * 参照：https://css-tricks.com/snippets/sass/strip-unit-function/
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }
  @return $number;
}

// * vwへの計算式
@function vw($size, $base) {
  @return math.div(strip-unit($size), strip-unit($base)) * 100vw;
}

// * vhへの計算式
@function vh($size, $base) {
  @return math.div(strip-unit($size), strip-unit($base)) * 100vh;
}

// * lvhへの計算式
@function lvh($size, $base) {
  @return math.div(strip-unit($size), strip-unit($base)) * 100lvh;
}

// * svhへの計算式
@function svh($size, $base) {
  @return math.div(strip-unit($size), strip-unit($base)) * 100svh;
}

// * dvhへの計算式
@function dvh($size, $base) {
  @return math.div(strip-unit($size), strip-unit($base)) * 100dvh;
}

// * remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($size) {
  @return math.div(strip-unit($size), 16) * 1rem;
}

// * emへの計算式
@function em($size, $base) {
  @return math.div(strip-unit($size), strip-unit($base)) * 1em;
}

// * パーセントへの計算式
@function percent($size, $base) {
  @return math.div(strip-unit($size), strip-unit($base)) * 100%;
}

// * 重なり順（z-index）
@function zi($key) {
  @return map-get($z-index-layer, $key);
}
$z-index-layer: (
  loading: 9000,
  modal: 8000,
  hamburger: 7000,
  buttonTopPage: 6000,
  headerLogo: 5000,
  drawer: 4000,
  header: 3000,
  cta: 2000,
  justAbove: 1000,
  default: 1,
  justBelow: -1000,
);

// * 相対単位のメモ
// * 美しいレスポンシブデザインのためのUTOPIA：https://utopia.fyi/
// * 参照：https://www.w3.org/TR/css-values-4/#relative-lengths
// * 参照：https://coliss.com/articles/build-websites/operation/css/relative-length-units-based-on-font.html
// * 参照：https://coliss.com/articles/build-websites/operation/css/relative-length-units-based-on-the-viewport.html
// cap = ラテン語の大文字の高さ。font-familyに因らない。
// ch = "0"（ゼロ）の幅
// em = 親要素のフォントサイズ
// ex = 小文字のxの高さ
// ic = 全角文字1文字の幅（CJK用）
// lh = 親要素の行の高さ
// rem = ルート要素（html）のフォントサイズ
// rlh = ルート要素（html）の行の高さ
// vw = ウィンドウの幅
// vh = ウィンドウの高さ
// lvh = ウィンドウの縦方向の長さ
// svh = ウィンドウの短い方向の長さ
// dvh = ウィンドウの縦方向の長さ（デバイスの向きによる）
// vmin = ウィンドウの幅または高さの小さい方
// vmax = ウィンドウの幅または高さの大きい方
// % = 親要素の値
